*{
   margin: 0;
   padding: 0;
   border: 0;
   font-family: 'Helvetica Neue', sans-serif;
   color: #222222;
}

body{
   background: #f8f8f8;
}

a{
   text-decoration: none;
}

button{
   cursor: pointer;
}

.wrap{
   width: 900px;
   margin: 0 auto;
}

.wrapper{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 70vh;
}

header{
   background: #00ccff;
   height: 50px;
   display: flex;
   align-items: center;
}

.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-weight: 600;
}

.nav{
   display: flex;
   align-items: center;
}
.nav span{
   margin-left: 10px;
}

.nav-button-block{
   background: #222222;
   color: #00ccff;
   padding: 7px 10px;
}

.banner{
   /* background: #e7e7e7; */
   height: 200px;
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.card{
   background: #ffffff;
   margin-top: 20px;
   height: 200px;
}

.card-content{
   display: flex;
}

.card-right{
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.card-footer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 40px;
}

.card-footer button{
   background: #00ccff;
   padding: 7px 10px;
}

#sign-form{
   display: flex;
   flex-direction: column;
}

#sign-form input, #sign-form button{
   margin-bottom: 10px;
   padding: 10px 20px;
   width: 500px;
}

#sign-form button{
   background: #00ccff;
   width: inherit;
}

.form-wrap h2{
   margin-bottom: 20px;
}

.post{
   display: flex;
   flex-direction: column;
}

.profile-nav{
   display: flex;
   background: #00ccff;
   justify-content: space-evenly;
   align-items: center;
   margin-top: 20px;
   width: 100%;
   height: 40px;
}

.profile-nav span{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   border-bottom: 2px solid #00ccff;
}

.dash-card-group{
   display: flex;
   justify-content: space-between
}

.dash-card{
   background: #ffffff;
   width: 49%;
   padding: 10px;
   box-sizing: border-box
}

#post{
   width: 100%;
}