@font-face {
   font-family:   Poppins-Regular;
   src: url('fonts/Poppins/Poppins-Regular.ttf'); 
 }

*{
   margin: 0;
   padding: 0;
   border: 0;
   font-family: Poppins-Regular;
   color: #424242;
   line-height: 150%;
}
hr{
   border: 0.5px solid #e7e7e7;
   width: 99%;
   margin-top: 10px
}

body{
   background: #f8f8f8;
}

a{
   text-decoration: none;
}

button{
   cursor: pointer;
}

.wrap{
   width: 900px;
   margin: 0 auto;
}

.wrapper{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 70vh;
}

header{
   background: linear-gradient(-340deg, #00ccff, #0099ff);
   height: 50px;
   display: flex;
   align-items: center;
   box-shadow: 0 0 10px rgba(34, 34, 34, 0.2);
}

.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-weight: 600;
}

.nav{
   display: flex;
   align-items: center;
}
.nav span, .nav-user{
   margin-left: 10px;
   color: #ffffff;
}

.nav .nav-button-block{
   background: #424242;
   padding: 7px 10px;
}

.nav-user{
   display: flex;
   align-items: center;
}

.banner, .dash-top{
   background: #ffffff;
   height: 200px;
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.card{
   background: #ffffff;
   height: 200px;
   width: 99%;
   margin: 0 auto;
   margin-top: 20px;
   box-shadow: 0 0 15px rgba(34, 34, 34, 0.1);
   transition: 0.5s all;
   border-radius: 5px;
   box-sizing: border-box;
}

.card:hover{
   box-shadow: 0 0 15px rgba(34, 34, 34, 0.3);
   transform: scale(1.05,1.05);
}

.card-content{
   display: flex;
}

.card-right{
   padding: 15px 20px 0  20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.card-right h2{
   color: #0099ff;
   margin-bottom: 10px;
}

.card-footer{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 40px;
   padding: 5px 0;
   border-top: 1px solid #e7e7e7;
}

.card-footer button{
   background: linear-gradient(-340deg, #00ccff, #0099ff);
   color: #ffffff;
   padding: 7px 10px;
}

.card-footer-left{
   display: flex;
   align-items: center;
}

.card-author{
   margin:0 10px 0 5px;
   font-weight: 600;
}

.card-date{
   color: #818181;
   font-size: 14px;
}

#sign-form{
   display: flex;
   flex-direction: column;
}

#sign-form input, #sign-form button{
   margin-bottom: 10px;
   padding: 10px 20px;
   width: 500px;
   box-sizing: border-box;
}

#sign-form input[type="file"]{
   padding: 10px 0;
}

#sign-form button{
   background: #0099ff;
   color: #ffffff;
   width: initial;
}

.form-wrap{
   width: 500px;
}

.form-wrap h2{
   margin-bottom: 20px;
}

.post{
   display: flex;
   flex-direction: column;
}

.post input, .post textarea{
   padding: 10px;
   margin-bottom: 20px;
}

.profile-nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 40%;
}

.profile-nav span{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 20px;
   font-weight: 500;
}

.profile-nav .active{
   color: #0099ff;
   border-bottom: 3px solid #0099ff;
}

.dash-card-group{
   display: flex;
   justify-content: space-between
}

.dash-card{
   background: linear-gradient(-340deg, #00ccff, #0099ff);
   background: #ffffff;
   width: 32%;
   padding: 15px 20px;
   margin-bottom: 20px;
   box-sizing: border-box;
   box-shadow: 0 0 10px rgb(34, 34, 34, 0.1);
}

.dash-card h1{
   color: #ffffff;
   color: #0099ff;
   font-size: 50px;
}

#post{
   width: 100%;
   border-collapse: collapse;
   border: 1px solid #818181;
}

#post tr:nth-child(even){
   background-color: #ffffff;
}

#post tr:hover {
   background-color: rgba(0, 153, 255, 0.1)
}

#post thead{
   background: #00ccff;
}

#post th, #post td{
   text-align: start;
   padding: 7px 10px;
   border: 1px solid #e7e7e7;
}

#post th{
   color: #ffffff;
}

#post button{
   color: #ffffff;
   padding: 5px;
}

.dash-top{
   padding-top: 20px;
   height: inherit;
   margin-bottom: 20px;
   box-shadow: 0 0 10px rgba(34, 34, 34, 0.1);
}

.dash-top h2{
   margin-top: 10px;
}

.but{
   background: none;
   padding: 10px 20px;
   border:1px solid  #0099ff;
   margin-right: 10px;
   color: #0099ff;
   font-weight: 600;
   border-radius: 3px;
   box-shadow: 0 0 10px rgba(34, 34, 34, 0.1);
}

.but:hover {
   background: #00ccff;
   border:1px solid  #00ccff;
   color: #ffffff;
}

.post-head{
   margin: 30px 0;
}

.post-head h1{
   margin-bottom: 10px;
}

.post-img{
   height: 400px;
   overflow: hidden;
   margin-bottom: 30px;
}

.post-body, .post-actions{
   margin-bottom: 20px;
}